matplotlib
numpy
pillow
pyyaml
requests
scipy
torch==2.1.2
torchvision==0.16.2
tqdm
psutil
py-cpuinfo
thop
pandas
seaborn
ultralytics==8.1.47
tensorflow==2.15.0
opencv-python==4.11.0.86
typing-extensions==4.6.0
# public.ecr.aws/tensorleap/engine-generic:master-ca5d469d-py39